footer {
    width: 100vw;
    height: 250px;
    background-color: rgb(29, 29, 29);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 150px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin-top: 30px;
    color: rgb(82, 82, 82);
    font-size: 1.2em;
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 500, "wght" 294.2857;
}