.body {
  background-color: #f3f2ec;
  color: #333;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1 {
  font-size: 3em;
  margin: 0;
  margin-top: 50px;
  text-align: center;
  font-family: "allotrope", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.p {
  text-align: center;
  width: 500px;
  font-size: 1.5em;
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wdth" 500, "wght" 294.2857;
}
.svg {
  margin-top: 20px;
}

/* Animation sur le svg */
.svg {
  animation: fly 5s infinite;
}

@keyframes fly {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0);
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .h1 {
      font-size: 2.5em;
  }
  .p {
      font-size: 1em;
  }
}

@media (max-width: 480px) {
  .h1 {
      font-size: 2em;
  }
  .p {
      font-size: 0.9em;
  }
}