* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "allotrope", sans-serif;
  background-color: #f9f9f9;
  color: #272727;
}

a {
  text-decoration: none;
  color: #272727;
}

ul {
  list-style-type: none;
}